# Asynchronous GraphQL Data Fetching data Mahasiswa
Notebook ini menunjukkan bagaimana kita bisa melakukan asynchronous data fetching dengan GraphQL SiCekCok untuk mengambil data mahasiswa menggunakan Python. Notebook ini menggunakan library `aiohttp` untuk melakukan HTTP request secara asynchronous dan `aiographql` untuk melakukan query ke GraphQL server.

### Langkah 0: Install Pustaka yang Diperlukan
Pada langkah Persiapan, kita menginstall pustaka `aiohttp` untuk melakukan HTTP request secara asynchronous dan `pandas` untuk memproses data dalam format DataFrame.

In [1]:
%pip install aiohttp pandas

Requirement already satisfied: aiohttp in /workspaces/getSiCekCok/.venv/lib/python3.12/site-packages (3.12.15)
Requirement already satisfied: pandas in /workspaces/getSiCekCok/.venv/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: aiohappyeyeballs>=2.5.0 in /workspaces/getSiCekCok/.venv/lib/python3.12/site-packages (from aiohttp) (2.6.1)
Requirement already satisfied: aiosignal>=1.4.0 in /workspaces/getSiCekCok/.venv/lib/python3.12/site-packages (from aiohttp) (1.4.0)
Requirement already satisfied: attrs>=17.3.0 in /workspaces/getSiCekCok/.venv/lib/python3.12/site-packages (from aiohttp) (25.3.0)
Requirement already satisfied: frozenlist>=1.1.1 in /workspaces/getSiCekCok/.venv/lib/python3.12/site-packages (from aiohttp) (1.7.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /workspaces/getSiCekCok/.venv/lib/python3.12/site-packages (from aiohttp) (6.6.4)
Requirement already satisfied: propcache>=0.2.0 in /workspaces/getSiCekCok/.venv/lib/python3.12/site-packages (from aiohttp) (0.4.0)
Requirement already satisfied: yarl<2.0,>=1.17.0 in /workspaces/getSiCekCok/.venv/lib/python3.12/site-packages (from aiohttp) (1.20.1)
Requirement already satisfied: idna>=2.0 in /workspaces/getSiCekCok/.venv/lib/python3.12/site-packages (from yarl<2.0,>=1.17.0->aiohttp) (3.10)
Requirement already satisfied: numpy>=1.26.0 in /workspaces/getSiCekCok/.venv/lib/python3.12/site-packages (from pandas) (2.3.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /workspaces/getSiCekCok/.venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /workspaces/getSiCekCok/.venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /workspaces/getSiCekCok/.venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: typing-extensions>=4.2 in /workspaces/getSiCekCok/.venv/lib/python3.12/site-packages (from aiosignal>=1.4.0->aiohttp) (4.15.0)
Requirement already satisfied: six>=1.5 in /workspaces/getSiCekCok/.venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

### Langkah 1: Mengimpor Pustaka yang Diperlukan
Pada langkah pertama, kita mengimpor pustaka `aiohttp` `asyncio`  untuk untuk melakukan HTTP request secara asynchronous dan `pandas` untuk memproses data dalam format DataFrame.

In [2]:
import aiohttp
import asyncio
import pandas as pd

### Langkah 2: Mendefinisikan Fungsi untuk Query GraphQL
Kita mendefinisikan fungsi `query_graphql` yang mengambil parameter `nim` dan mengirimkan permintaan POST ke endpoint GraphQL yang ditentukan. Fungsi ini mengembalikan hasil dalam format JSON.

In [3]:
async def query_graphql(session, nim):
    url = 'https://sicekcok.if.unismuh.ac.id/graphql'  # Ganti dengan URL endpoint GraphQL yang sesuai
    query = """
    query($nim: String!) {
      mahasiswa(nim: $nim) {
        nim
        kodeProdi
        angkatan
        nama
        jenisKelamin
        semesterAwal
        tahunAkademikLulus
        tanggalLulus
        lulus
        masaStudi
        khs {
          tahunAkademik
          ips
          sksSmt
          ipk
          sksTotal
          statusMahasiswa
        }
        prodi{
          namaProdi
        }
      }
    }
    """
    variables = {'nim': str(nim)}  # Pastikan NIM dikonversi ke string
    async with session.post(url, json={'query': query, 'variables': variables}) as response:
        return await response.json()

### Langkah 3: Membaca File NIM dan Menyiapkan Daftar Data
Langkah ini membaca file `nim.csv` yang berisi daftar NIM dan menyiapkan struktur data untuk menyimpan hasil unduhan.

In [4]:
nim_list = pd.read_csv('../data/nim.csv')['nim'].tolist()
data_list = []
total = len(nim_list)
max_khs = 0
print(f"Total NIM: {total}")

Total NIM: 1523

### Langkah 4: Mengunduh Data secara asynchronousdan Memprosesnya 
Kita mengiterasi daftar NIM, mengunduh data untuk setiap NIM menggunakan fungsi `query_graphql`, dan memproses data tersebut untuk disimpan dalam daftar `data_list`. Juga, kita melacak jumlah maksimum entri KHS untuk mengatur kolom DataFrame nantinya.

In [5]:
async def get_mahasiswa():
    async with aiohttp.ClientSession() as session:
        tasks = []
        for nim in nim_list:
            tasks.append(query_graphql(session, nim))
        responses = await asyncio.gather(*tasks)
        for i, result in enumerate(responses):
            nim = nim_list[i]
            # print(f"Result for NIM {nim}: {result.get('data', {}).get('mahasiswa', {}).get('nama')}")
            mahasiswa = result.get('data', {}).get('mahasiswa', {})
            if mahasiswa:
                row = {
                    'kodeProdi': mahasiswa.get('kodeProdi'),
                    'namaProdi': mahasiswa.get('prodi', {}).get('namaProdi'),
                    'angkatan': mahasiswa.get('angkatan'),
                    'semesterAwal': mahasiswa.get('semesterAwal'),
                    'nim': mahasiswa.get('nim'),
                    'nama': mahasiswa.get('nama'),
                    'jenisKelamin': mahasiswa.get('jenisKelamin'),
                    'tahunAkademikLulus': mahasiswa.get('tahunAkademikLulus'),
                    'tanggalLulus': mahasiswa.get('tanggalLulus'),
                    'lulus': mahasiswa.get('lulus'),
                    'masaStudi': mahasiswa.get('masaStudi'),
                }
                khs = mahasiswa.get('khs', [])
                global max_khs
                max_khs = max(max_khs, len(khs))
                for idx, k in enumerate(khs, start=1):
                    row.update({
                        f'khs{idx}_tahunAkademik': k.get('tahunAkademik'),
                        f'khs{idx}_ips': k.get('ips'),
                        f'khs{idx}_sksSmt': k.get('sksSmt'),
                        f'khs{idx}_ipk': k.get('ipk'),
                        f'khs{idx}_sksTotal': k.get('sksTotal'),
                        f'khs{idx}_statusMahasiswa': k.get('statusMahasiswa'),
                    })
                data_list.append(row)
                # print(f'Downloading data {i + 1}/{total} berhasil di download')
await get_mahasiswa()
print(f'{total} Data berhasil di download')

1523 Data berhasil di download

### Langkah 5: Membuat DataFrame dan Menyimpannya ke CSV
Kita membuat DataFrame dari daftar data yang telah diproses.

In [6]:
df = pd.DataFrame(data_list)
columns = [
    'kodeProdi', 'namaProdi', 'angkatan', 'semesterAwal', 'nim', 'nama', 'jenisKelamin', 'tahunAkademikLulus', 'tanggalLulus', 'lulus', 'masaStudi'
] + [
    f'khs{idx}_{field}' for idx in range(1, max_khs + 1) for field in
    ['tahunAkademik', 'ips', 'sksSmt', 'ipk', 'sksTotal', 'statusMahasiswa']
]
df = df.reindex(columns=columns)

### Langkah 6: Memverifikasi Data
Langkah terakhir adalah memverifikasi beberapa baris pertama dari DataFrame untuk memastikan bahwa data telah diunduh dan diproses dengan benar.

In [7]:
pd.set_option('display.max_columns', None)  # Menampilkan semua kolom
pd.set_option('display.expand_frame_repr', False)  # Menghindari pembungkusan frame
df.head(10)

  kodeProdi  namaProdi  angkatan semesterAwal          nim                          nama jenisKelamin tahunAkademikLulus tanggalLulus  lulus          masaStudi khs1_tahunAkademik  khs1_ips  khs1_sksSmt  khs1_ipk  khs1_sksTotal khs1_statusMahasiswa khs2_tahunAkademik  khs2_ips  khs2_sksSmt  khs2_ipk  khs2_sksTotal khs2_statusMahasiswa khs3_tahunAkademik  khs3_ips  khs3_sksSmt  khs3_ipk  khs3_sksTotal khs3_statusMahasiswa khs4_tahunAkademik  khs4_ips  khs4_sksSmt  khs4_ipk  khs4_sksTotal khs4_statusMahasiswa khs5_tahunAkademik  khs5_ips  khs5_sksSmt  khs5_ipk  khs5_sksTotal khs5_statusMahasiswa khs6_tahunAkademik  khs6_ips  khs6_sksSmt  khs6_ipk  khs6_sksTotal khs6_statusMahasiswa khs7_tahunAkademik  khs7_ips  khs7_sksSmt  khs7_ipk  khs7_sksTotal khs7_statusMahasiswa khs8_tahunAkademik  khs8_ips  khs8_sksSmt  khs8_ipk  khs8_sksTotal khs8_statusMahasiswa khs9_tahunAkademik  khs9_ips  khs9_sksSmt  khs9_ipk  khs9_sksTotal khs9_statusMahasiswa khs10_tahunAkademik  khs10_ips  khs10_sksSmt  khs10_ipk  khs10_sksTotal khs10_statusMahasiswa khs11_tahunAkademik  khs11_ips  khs11_sksSmt  khs11_ipk  khs11_sksTotal khs11_statusMahasiswa khs12_tahunAkademik  khs12_ips  khs12_sksSmt  khs12_ipk  khs12_sksTotal khs12_statusMahasiswa khs13_tahunAkademik  khs13_ips  khs13_sksSmt  khs13_ipk  khs13_sksTotal khs13_statusMahasiswa khs14_tahunAkademik  khs14_ips  khs14_sksSmt  khs14_ipk  khs14_sksTotal khs14_statusMahasiswa khs15_tahunAkademik  khs15_ips  khs15_sksSmt  khs15_ipk  khs15_sksTotal khs15_statusMahasiswa khs16_tahunAkademik  khs16_ips  khs16_sksSmt  khs16_ipk  khs16_sksTotal khs16_statusMahasiswa khs17_tahunAkademik  khs17_ips  khs17_sksSmt  khs17_ipk  khs17_sksTotal khs17_statusMahasiswa khs18_tahunAkademik  khs18_ips  khs18_sksSmt  khs18_ipk  khs18_sksTotal khs18_statusMahasiswa
0     22202  Pengairan      2015        20151  10581232015                 MUAYYIN NAZAR            L              20191   2020-02-08   True   4 Tahun, 5 Bulan              20151      3.32         22.0      3.45           20.0                    A              20152      2.77         22.0      3.24           37.0                    A              20161      2.73         22.0      3.20           55.0                    A              20162      2.83         24.0      3.21           73.0                    A              20171      2.67         24.0      3.23           91.0                    A              20172      3.20         20.0      3.25          109.0                    A              20181      3.33         18.0      3.26          127.0                    A              20182      3.90         20.0      3.35          147.0                    A              20191      4.00          8.0      3.38          155.0                    A                 NaN        NaN           NaN        NaN             NaN                   NaN                 NaN        NaN           NaN        NaN             NaN                   NaN                 NaN        NaN           NaN        NaN             NaN                   NaN                 NaN        NaN           NaN        NaN             NaN                   NaN                 NaN        NaN           NaN        NaN             NaN                   NaN                 NaN        NaN           NaN        NaN             NaN                   NaN                 NaN        NaN           NaN        NaN             NaN                   NaN                 NaN        NaN           NaN        NaN             NaN                   NaN                 NaN        NaN           NaN        NaN             NaN                   NaN
1     22202  Pengairan      2015        20151  10581232115                        RIDWAN            L               None         None  False               None              20151      2.82         22.0      3.10           20.0                    A              20152      3.09         22.0      3.10           42.0                    A              20161      2.00         22.0      2.90           60.0                    A              20162      2.60         20.0      2.90           78.0                    A              20171      1.20         20.0      2.91           86.0                    A              20182      0.00          0.0      2.91           86.0                    N              20231      0.00          0.0      2.91           86.0                    X                NaN       NaN          NaN       NaN            NaN                  NaN                NaN       NaN          NaN       NaN            NaN                  NaN                 NaN        NaN           NaN        NaN             NaN                   NaN                 NaN        NaN           NaN        NaN             NaN                   NaN                 NaN        NaN           NaN        NaN             NaN                   NaN                 NaN        NaN           NaN        NaN             NaN                   NaN                 NaN        NaN           NaN        NaN             NaN                   NaN                 NaN        NaN           NaN        NaN             NaN                   NaN                 NaN        NaN           NaN        NaN             NaN                   NaN                 NaN        NaN           NaN        NaN             NaN                   NaN                 NaN        NaN           NaN        NaN             NaN                   NaN
2     22202  Pengairan      2015        20151  10581232215          NUR ICHSAN RESKIAWAN            L              20212   2022-08-30   True  6 Tahun, 11 Bulan              20151      0.55         22.0      2.00            6.0                    A              20152      1.41         22.0      2.15           20.0                    A              20161      1.13         16.0      2.04           28.0                    A              20162      0.38         16.0      1.97           32.0                    A              20171      1.71         14.0      2.24           38.0                    A              20172      2.00         16.0      2.44           48.0                    A              20181      2.38         16.0      2.50           62.0                    A              20182      1.00         20.0      2.50           70.0                    A              20191      2.20         20.0      2.61           84.0                    A               20192       2.10          20.0       2.61           100.0                     A               20201        2.0          19.0       2.56           117.0                     A               20202       2.30          20.0       2.64           129.0                     A               20203       1.00           8.0       2.62           133.0                     A               20211       3.23          13.0       2.73           142.0                     A               20212        3.6          10.0       2.78           152.0                     A                 NaN        NaN           NaN        NaN             NaN                   NaN                 NaN        NaN           NaN        NaN             NaN                   NaN                 NaN        NaN           NaN        NaN             NaN                   NaN
3     22202  Pengairan      2015        20151  10581232315                ARIFUDDIN NURI            L              20201   2020-12-12   True   5 Tahun, 3 Bulan              20151      3.32         22.0      3.32           22.0                    A              20152      2.41         22.0      3.08           39.0                    A              20161      2.20         20.0      2.94           53.0                    A              20162      2.40         20.0      2.93           69.0                    A              20171      2.50         20.0      2.96           85.0                    A              20172      3.10         20.0      2.99          105.0                    A              20181      2.70         20.0      3.01          121.0                    A              20182      3.13         16.0      3.02          137.0                    A              20191      2.43         14.0      3.05          147.0                    A               20192       0.00          18.0       3.05           147.0                     A               20201        4.0           8.0       3.10           155.0                     A                 NaN        NaN           NaN        NaN             NaN                   NaN                 NaN        NaN           NaN        NaN             NaN                   NaN                 NaN        NaN           NaN        NaN             NaN                   NaN                 NaN        NaN           NaN        NaN             NaN                   NaN                 NaN        NaN           NaN        NaN             NaN                   NaN                 NaN        NaN           NaN        NaN             NaN                   NaN                 NaN        NaN           NaN        NaN             NaN                   NaN
4     22202  Pengairan      2015        20151  10581232415                      HARDIONO            L               None         None  False               None              20151      0.00         22.0      0.00            0.0                    A              20182      0.00          0.0      0.00            0.0                    N              20231      0.00          0.0      0.00            0.0                    X                NaN       NaN          NaN       NaN            NaN                  NaN                NaN       NaN          NaN       NaN            NaN                  NaN                NaN       NaN          NaN       NaN            NaN                  NaN                NaN       NaN          NaN       NaN            NaN                  NaN                NaN       NaN          NaN       NaN            NaN                  NaN                NaN       NaN          NaN       NaN            NaN                  NaN                 NaN        NaN           NaN        NaN             NaN                   NaN                 NaN        NaN           NaN        NaN             NaN                   NaN                 NaN        NaN           NaN        NaN             NaN                   NaN                 NaN        NaN           NaN        NaN             NaN                   NaN                 NaN        NaN           NaN        NaN             NaN                   NaN                 NaN        NaN           NaN        NaN             NaN                   NaN                 NaN        NaN           NaN        NaN             NaN                   NaN                 NaN        NaN           NaN        NaN             NaN                   NaN                 NaN        NaN           NaN        NaN             NaN                   NaN
5     22202  Pengairan      2015        20151  10581232515                 M SANDI PUTRA            L               None         None  False               None              20182      0.00          0.0      0.00            0.0                    N              20191      0.29         14.0      2.00            2.0                    A              20231      0.00          0.0      2.00            2.0                    X                NaN       NaN          NaN       NaN            NaN                  NaN                NaN       NaN          NaN       NaN            NaN                  NaN                NaN       NaN          NaN       NaN            NaN                  NaN                NaN       NaN          NaN       NaN            NaN                  NaN                NaN       NaN          NaN       NaN            NaN                  NaN                NaN       NaN          NaN       NaN            NaN                  NaN                 NaN        NaN           NaN        NaN             NaN                   NaN                 NaN        NaN           NaN        NaN             NaN                   NaN                 NaN        NaN           NaN        NaN             NaN                   NaN                 NaN        NaN           NaN        NaN             NaN                   NaN                 NaN        NaN           NaN        NaN             NaN                   NaN                 NaN        NaN           NaN        NaN             NaN                   NaN                 NaN        NaN           NaN        NaN             NaN                   NaN                 NaN        NaN           NaN        NaN             NaN                   NaN                 NaN        NaN           NaN        NaN             NaN                   NaN
6     22202  Pengairan      2015        20151  10581232615                     ABD KADIR            L               None         None  False               None              20151      1.45         22.0      1.78           18.0                    A              20182      0.00          0.0      1.78           18.0                    N              20231      0.00          0.0      1.78           18.0                    X                NaN       NaN          NaN       NaN            NaN                  NaN                NaN       NaN          NaN       NaN            NaN                  NaN                NaN       NaN          NaN       NaN            NaN                  NaN                NaN       NaN          NaN       NaN            NaN                  NaN                NaN       NaN          NaN       NaN            NaN                  NaN                NaN       NaN          NaN       NaN            NaN                  NaN                 NaN        NaN           NaN        NaN             NaN                   NaN                 NaN        NaN           NaN        NaN             NaN                   NaN                 NaN        NaN           NaN        NaN             NaN                   NaN                 NaN        NaN           NaN        NaN             NaN                   NaN                 NaN        NaN           NaN        NaN             NaN                   NaN                 NaN        NaN           NaN        NaN             NaN                   NaN                 NaN        NaN           NaN        NaN             NaN                   NaN                 NaN        NaN           NaN        NaN             NaN                   NaN                 NaN        NaN           NaN        NaN             NaN                   NaN
7     22202  Pengairan      2015        20151  10581232715          HARDIANTI EFFENDY. T            P              20211   2022-02-26   True   6 Tahun, 5 Bulan              20151      0.00         22.0      0.00            0.0                    A              20161      1.57         14.0      2.75            8.0                    A              20162      3.00         16.0      2.92           24.0                    A              20171      2.83         24.0      3.00           46.0                    A              20172      2.70         20.0      2.91           66.0                    A              20181      2.40         20.0      2.86           84.0                    A              20182      3.30         20.0      2.94          104.0                    A              20191      3.50         24.0      3.05          128.0                    A              20192      3.45         22.0      3.19          140.0                    A               20201       2.82          11.0       3.23           147.0                     A               20202        1.0           8.0       3.24           149.0                     A               20211       4.00           6.0       3.27           153.0                     A                 NaN        NaN           NaN        NaN             NaN                   NaN                 NaN        NaN           NaN        NaN             NaN                   NaN                 NaN        NaN           NaN        NaN             NaN                   NaN                 NaN        NaN           NaN        NaN             NaN                   NaN                 NaN        NaN           NaN        NaN             NaN                   NaN                 NaN        NaN           NaN        NaN             NaN                   NaN
8     22202  Pengairan      2015        20151  10581232815                   BURHANUDDIN            L               None         None  False               None              20151      2.64         22.0      2.90           20.0                    A              20152      2.14         22.0      2.63           40.0                    A              20161      0.63         16.0      2.50           46.0                    A              20162      1.29         14.0      2.46           54.0                    A              20171      1.50         16.0      2.53           62.0                    A              20172      0.25         16.0      2.52           64.0                    A              20181      0.57         14.0      2.56           66.0                    A              20182      2.57         14.0      2.63           78.0                    A              20191      2.45         22.0      2.70           96.0                    A               20192       2.45          22.0       2.75           114.0                     A               20201        1.8          20.0       2.73           128.0                     A               20202       3.38          16.0       2.93           128.0                     A               20203       2.33           6.0       2.90           134.0                     A               20211       2.19          13.0       2.92           143.0                     A               20212        0.0           8.0       2.92           143.0                     A               20221        0.0           0.0       2.92           143.0                     N               20231        0.0           0.0       2.92           143.0                     X                 NaN        NaN           NaN        NaN             NaN                   NaN
9     22202  Pengairan      2015        20151  10581232915  MUHAMMAD IDUL FITRI SUHERMAN            L               None         None  False               None              20151      0.00         22.0      0.00            0.0                    A              20152      0.68         22.0      3.00            5.0                    A              20182      0.00          0.0      3.00            5.0                    N              20231      0.00          0.0      3.00            5.0                    X                NaN       NaN          NaN       NaN            NaN                  NaN                NaN       NaN          NaN       NaN            NaN                  NaN                NaN       NaN          NaN       NaN            NaN                  NaN                NaN       NaN          NaN       NaN            NaN                  NaN                NaN       NaN          NaN       NaN            NaN                  NaN                 NaN        NaN           NaN        NaN             NaN                   NaN                 NaN        NaN           NaN        NaN             NaN                   NaN                 NaN        NaN           NaN        NaN             NaN                   NaN                 NaN        NaN           NaN        NaN             NaN                   NaN                 NaN        NaN           NaN        NaN             NaN                   NaN                 NaN        NaN           NaN        NaN             NaN                   NaN                 NaN        NaN           NaN        NaN             NaN                   NaN                 NaN        NaN           NaN        NaN             NaN                   NaN                 NaN        NaN           NaN        NaN             NaN                   NaN

# Validasi data yang sudah di download dengan NIM yang dicari

In [8]:
# Validasi data yang sudah di download dengan NIM yang dicari
nim_yang_dicari = '105821100817'  # Ganti dengan NIM yang ingin Anda cari
data_nim = df.loc[df['nim'] == nim_yang_dicari]

# Menampilkan hasil pencarian dan cocokkan dengan KHS yang ada
if not data_nim.empty:
    for index, row in data_nim.iterrows():
        print(f"Data Mahasiswa dengan NIM: {row['nim']}")
        print("=================================")
        for column in data_nim.columns:
            print(f"{column}: {row[column]}")
else:
    print("Data dengan NIM tersebut tidak ditemukan.")

Data dengan NIM tersebut tidak ditemukan.

# Simpan Ke File .csv

In [9]:
from datetime import datetime

# Generate the timestamp
timestamp = datetime.now().strftime("%Y%m%d_%H%M%S")

# Create the filename with the timestamp
filename = f"../outputs/mahasiswa_data_{timestamp}.csv"

# Save the DataFrame to the CSV file
df.to_csv(filename, index=False)

# Print the success message with the filename
print(f"Data berhasil disimpan ke file {filename}")

Data berhasil disimpan ke file ../outputs/mahasiswa_data_20251005_062657.csv